@model StudentData.Models.StudentReg
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "StudentRegistration";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>StudentData</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />


</head>

<body>
    @*<h3>Student Registration</h3> <br />*@
    <div class="pagetitle">
      <h1>Student Registration</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">New Student</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<div class="container">
    <div class="col-md-12">
        <form asp-action="StudentReg" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-4">
                    <label class="control-label">Registration Number</label>
                    <input asp-for="RegNumber" class="form-control" />
                    <span asp-validation-for="RegNumber" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Surname</label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label class="control-label">Othernames</label>
                    <input asp-for="OtherNames" class="form-control" />
                    <span asp-validation-for="OtherNames" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-6">
                    <label class="control-label">Adress</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">State of Origin</label>
                    <select asp-for="States" class="form-control" id="State"></select>
                </div>
                <div class="col-md-3">
                    <label class="control-label">LGA</label>
                    <select asp-for="LocalGovt" class="form-control" id="LGovt"></select>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-3">
                    <label class="control-label">Date of Birth</label>
                    <input asp-for="DateOfBirth" class="form-control" id="datepicker1" type="date" placeholder="dd-mm-yyyy" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Phone Number (I)</label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Phone Number (II)</label>
                    <input asp-for="Alt_PhoneNumber" class="form-control" />
                    <span asp-validation-for="Alt_PhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label">Admission Date</label>
                    <input asp-for="DateOfAdmission" class="form-control" id="datepicker2" type="date" />
                    <span asp-validation-for="DateOfAdmission" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-3">
                    <label class="control-label">Course Of Study</label>
                    <select asp-for="Course" class="form-control">
                        <option>Select ...</option>
                        <option value="Computer">Computer Science</option>
                        <option value="Business">Business Administrator</option>
                        <option value="Mechanic">Mechanical Engineer</option>
                    </select>
                    <span asp-validation-for="Course" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label class="control-label">Department</label>
                    <select asp-for="Department" class="form-control">
                        <option>Select ...</option>
                    </select>
                    <span asp-validation-for="Department" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label class="control-label">Program</label>
                    <select asp-for="Program" class="form-control">
                        <option>Select ...</option>
                        <option value="Part-time">Part-Time</option>
                        <option value="Full-time">Full-Time</option>
                        <option value="PGD">Post Graduate</option>
                        <option value="Masters">Masters Degree</option>
                    </select>
                    <span asp-validation-for="Program" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label class="control-label">Religion</label>
                    <select asp-for="Religion" class="form-control">
                        <option>Select ...</option>
                        <option value="Christian">Christian</option>
                        <option value="Muslim">Muslim</option>
                        <option value="others">Others</option>
                    </select>
                    <span asp-validation-for="Religion" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-1">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                
                <div class="col-md-1">
                    <input type="submit" value="Clear" class="btn btn-danger" />
                </div>
            </div>
        </form>
    </div>
</div>


<!-- Core theme JS-->
<script src="~/lib/jqueryui/jquery-ui.min.js"></script>
@*<script src="~/js/scripts.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetStates","StudentReg")',
                dataType: 'json',
                success: function (data) {
                    /*console.log(data)*/

                    var s = '<option value="">Select State ...</option>';

                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].name + '">' + data[i].name + '</option>';
                    }
                    $("#State").html(s);
                }
            });
    });

    $(document).ready(function () {
        $("#State").change(function () {
            var val = $(this).val();
                $.ajax({
                    url: '@Url.Action("GetLGA", "StudentReg")',
                    type: 'GET',
                    dataType: 'json',
                    data: { id: val },
                    success: function (response) {
                        console.log(response)

                        var s = '<option value="">Select LGA</option>';

                        for (var i = 0; i < response.length; i++) {
                            s += '<option value="' + response[i].lgaName + '">' + response[i].lgaName + '</option>';
                        }
                        $("#LGovt").html(s);

                        //$("#LGovt").val(response.lgaName + "  " + response.lgaName);
                        //$("#passport").attr('src', 'data:image/jpeg;base64,' + response.Base64string);
                        //$("#dob").val(response.DOB);
                    },
                    error: function () {
                        console.log('Error in Operation');
                    }
                });
            });
        });






    //$(document).ready(function () {
    //    var StateName = $("#State");
    //    var LocalGovtName = $("#LGovt");
    //    LocalGovtName.prop('disabled', true);

    //    StateName.change(function () {
    //        if ($(this).val() == "0") {
    //            LocalGovtName.prop('disabled', true);
    //            LocalGovtName.val("0");
    //        }
    //        else {
    //            $.ajax({
    //                url: "/api/eachgetLGA/" + $(this).val(),
    //                method: "get",
    //                success: function (data) {
    //                    console.log(data)
    //                    LocalGovtName.prop('disabled', false);
    //                    LocalGovtName.empty();
    //                    LocalGovtName.append($('<option/>', { value: '0', text: '--Select LGA--' }));
    //                    $(data).each(function (index, item) {
    //                        LocalGovtName.append($('<option/>', { value: item.id, text: item.name }));
    //                    });
    //                }
    //            });
    //        }
    //    });
    //});

//$(function () {
//            //$("#datepicker").datepicker();
//            //$("#datepicker1").datepicker();
//            //$("#datepicker2").datepicker();
//            //$("#datepicker3").datepicker();
//            //$("#datepicker4").datepicker();
//            //$("#fedhousing").hide();
//            //$("#car_loanid").hide();
//            //$("#welfare_loanid").hide();
//            //$("#NNNCS_loanid").hide();
//            //$("#NNMFBL_loanid").hide();
//            //$("#ppc_loanid").hide();
//            //$("#AnyOther_loanid").hide();
//    $("#datepicker")
//        .datepicker({
//            dateFormat: "dd-mm-yyyy"
//        })


//        });

</script>
</body>
</html>